
/* parti in comune */

*{
    margin:0;
    box-sizing: border-box;
    font-family: inherit;
}

.super {
    height: 100vh;
}

p {
    overflow-wrap: break-word;
    margin-bottom: 10px;
}

h1 {
    margin-bottom: 20px;
}

button {
    border-radius: 40px;
    font-size: 14px;
    padding: 7px 16px;
}

ul {
    display: inline-block;
    position: relative;
}

a {
    text-decoration: none;
}

.central {
    width: 70%;
    position: relative;
    left: 15%;
}


/* header e nav */
.back1 {
    background-image: url(../img/img/jumbo.png);
    background-size: cover;
}

nav {
    margin-left: 15%;
    padding-top: 1rem; 
    position: fixed;
    width: 70%;
}  

nav li {
    display: inline-block;
    margin-right: 2rem;
    font-size: 0.8rem;
    vertical-align: middle;
}

.svg {
    display: inline-block;
}

nav ul{
    bottom: 15px;
    margin-left: 10%;
    margin-right: 10%;
}

nav img {
    width: 100px;
    margin-right: 5%;
}

nav a {
    color:white;
}

nav button {
    display: inline-block;
    position:relative;
    bottom: 15px;
    background-color: white;
}

nav button a {
    color: black;
}

.presentazione {
    background-color: rgba(100, 0, 0, 0.2);
    text-align: center;
    top: 30%;
    left: 32%;
    width: 45%;
    color: white;
}

#bottone-nero {
    background-color: black;
    color: white;
}