
/* parti in comune */

*{
    margin:0;
    box-sizing: border-box;
    font-family: inherit;
}

.tex-centrale {
    text-align: center;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

p {
    overflow-wrap: break-word;
    margin-bottom: 10px;
}

h1 {
    margin-bottom: 20px;
}

button {
    border-radius: 40px;
    font-size: 14px;
    padding: 7px 16px;
}

ul {
    display: inline-block;
    position: relative;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.central {
    width: 70%;
    position: relative;
    left: 15%;
}

.meta{
    width: 60%;
    display: inline-block;
    float:left;
}

.meta-testo{
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 5rem;
    width: 20%;
    display: inline-block;
    float:left;
}

svg {
    width: 100%;
    position: relative;
}

.grigia {
    margin-top: 0;
    background-color: #f6f6f6;
}

/* header e nav */
.back1 {
    background-image: url(../img/img/jumbo.png);
    background-size: cover;
}

nav {
    margin-left: 13%;
    padding-top: 1rem; 
    width: 72%;
}  

nav li {
    display: inline-block;
    margin-right: 2rem;
    font-size: 0.8rem;
    vertical-align: middle;
}

.svg {
    display: inline-block;
}

nav ul{
    bottom: 15px;
    margin-left: 10%;
    margin-right: 10%;
}

nav img {
    width: 100px;
    margin-right: 5%;
}

nav a {
    color:white;
}

nav button {
    display: inline-block;
    position:relative;
    bottom: 15px;
    background-color: white;
}

nav button a {
    color: black;
}

.presentazione {
    text-align: center;
    top: 30%;
    left: 32%;
    width: 45%;
    color: white;
}

#bottone-nero {
    background-color: black;
    color: white;
}

#ondulato path{
    fill: #f6f6f6;
}

#ondu-bianco path {
    fill: white;
}

#malfatto {
    position: relative;
}

#malfatto h2{
    position:relative;
    bottom:30px;
}

#color-chiaro {
    background-color: #8ea1e1;
    color: white;
}

footer {
    background-color: black;
}

footer h3{ 
    color: #7289da;
}

footer ul {
    margin-top: 50px;
    width: 170px;
    color: white;
}

select {
    background-color:black;
    color: white;
    font-size: 10px;
    list-style-image: none;ù
    border: none;

}

footer h6{ 
    color: #7289da;
}

footer a {
    color: white;
}